## docker
html
.composer
.docker
.devcontainer
.npm-cache
.npm
.ssh
.config
.yarn
.cache
.gnupg
.vscode-server
.vscode
.bash_history
.gitconfig
.yarnrc
.local
.vs
.vs-liveshare-keychain
.git-credentials
.gitignore
build-docker.sh
DockerfileProduction
.npm
db
.git
.gitattributes
.htaccess
.env
vendor
node_modules


